<form class="row g-3" (ngSubmit)="applyFilter()" [formGroup]="form">
  <div class="col-md-3">
    <input
      class="form-control"
      formControlName="vehicle"
      placeholder="Vehicle ID"
    />
  </div>
  <div class="col-md-3">
    <input
      class="form-control"
      formControlName="code"
      placeholder="Error Code"
    />
  </div>
  <div class="col-md-3">
    <input class="form-control" type="datetime-local" formControlName="from" />
  </div>
  <div class="col-md-3">
    <input class="form-control" type="datetime-local" formControlName="to" />
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Filter</button>
  </div>
</form>
